@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background: url('/Rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #040809;
    font-family: 'Outfit', sans-serif;
}
