*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    /* width: 100%; */
    background: url('/Rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #040809;
    /* background-blend-mode: overlay normal; */
    /* overflow-x: hidden; */
    font-family: sans-serif;

    /* background-position: center; */
}